.container {
  min-width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
