.feedback {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.feedback__form {
  margin-top: 17px;
  border-top: 1px solid #e5e5e5;
}

.feedback__section {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;

  &:last-of-type {
    border-bottom: none;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 22px;
}

.feedback__yourself-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feedback__text-input {
  position: relative;
  flex-grow: 1;
  width: 100%;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: none;
  padding-top: 16px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  .placeholder();
}

.feedback__text-input--email {
  position: relative;
  margin: 0;
  padding-right: 58px;
}

.feedback__section--contact {
  padding-bottom: 17px;
}

.feedback__contact-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &::after {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
    background-size: auto 17px;
    right: 0;
    bottom: 0;
  }

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
    background-size: auto 19px;
    right: 0;
    bottom: 0;
  }
}

.feedback__effect-list {
  .reset-list();
  margin-bottom: 23px;
}

.feedback__radio {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.feedback__radio-icon {
  position: relative;
  width: 57px;
  height: 57px;
  border: none;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #f2f2f2;
  cursor: pointer;
}

.feedback__radio-input:checked + .feedback__radio-icon::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin: auto;
  border-radius: 50%;
  background-color: #000000;
}

.feedback__places-list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.feedback__check {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.feedback__check-icon {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.feedback__checkbox:checked + .feedback__check-icon {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center;
}

.feedback__text--check {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.feedback__section--yourself .feedback__text {
  margin-right: 15px;
}

.feedback__section--contact .feedback__text {
  margin-top: 2px;
  margin-bottom: 9px;
  margin-left: 22px;
}

.feedback__section--effect .feedback__text {
  margin-left: 21px;
}

.feedback__section--places .feedback__text {
  margin-left: 22px;
  align-self: flex-start;
  margin-top: 12px;
}

.feedback__text-input--area {
  height: 160px;
}

.feedback__button {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  margin-bottom: 37px;
}

.feedback__section--places {
  padding-bottom: 1px;
}

.feedback__section--review .feedback__title {
  padding-bottom: 19px;
}
