.hotel-search {
  background-color: #ffffff;
}

.hotel-search__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 49px;
  padding-left: 20px;
  margin: 0 auto;
}

.hotel-search__title {
  margin: 0;
  color: #000000;
  margin-bottom: 22px;
}

.hotel-search__description {
  line-height: 24px;
  margin: 0;
  margin-bottom: 35px;

  & br {
    display: none;
  }
}

.hotel-search__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .hotel-search__wrapper {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 57px;
  }

  .hotel-search__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .hotel-search__description {
    margin-bottom: 42px;

    & br {
      display: inline;
    }
  }
}

@media (min-width: @desktop-width) {
  .hotel-search__wrapper {
    padding-bottom: 65px;
  }

  .hotel-search__description {
    margin-bottom: 48px;
  }
}
