.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 23px;
  background-color: #ffffff;
}

.page-footer__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-bottom: 36px;
}

.page-footer__social {
  margin-bottom: 29px;
}

.page-footer__copyright {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: 0 auto;
}

.page-footer__copyright-text {
  padding-top: 7px;
  color: #000000;
}

.page-footer__copyright-icon {
  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }

  .page-footer__title {
    width: 30%;
    margin-bottom: 0;
  }

  .page-footer__social {
    width: 40%;
    margin-bottom: 0;
    justify-content: center;
  }

  .page-footer__copyright {
    width: 30%;
    justify-content: flex-end;
    margin: 0;
  }

  .page-footer__copyright-text {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
