.popup-failure {
  display: none;
  position: fixed;
  width: 320px;
  height: 280px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  left: calc(50% - 160px);
  top: 10%;
  z-index: 11;
}

.popup-failure--show {
  display: block;
}

.popup-failure__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-left: 54px;
  padding-right: 54px;
  text-align: center;
}

.popup-failure__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 27px;
}

.popup-failure__text {
  margin: 0;
  margin-bottom: 25px;
}

.popup-failure__button {
  font-size: 18px;
  width: 180px;
  margin: 0 auto;
}
