.reason__list {
  .reset-list();
  margin-top: -36px;
  color: #333333;
  background-color: #eeeeee;
}

.reason__item {
  width: 320px;
  border-bottom: 1px #d6d6d6 solid;
  margin: 0 auto;


  &:last-child {
    border: none;
  }
}

.reason__promo {
  width: 320px;
  text-align: center;
  padding-top: 76px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.reason__promo--blue {
  color: #ffffff;
  background: #81b3d2;
  width: 100%;
}

.reason__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reason__number {
  margin-bottom: 10px;
}

.reason__details-list {
  display: flex;
  flex-direction: column;
}
