.video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 40px;
}

.video__top-wrapper {
  width: 250px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-bottom: 27px;
}

.video__description {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.video__item {
  width: 320px;
  display: block;
}

.video__controls {
  position: relative;
  width: 280px;
  height: 110px;
  margin-top: -45px;
  z-index: 2;
}


@media (min-width: @tablet-width) {
  .video {
    padding-top: 62px;
    padding-bottom: 40px;
  }

  .video__top-wrapper {
    width: 420px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 58px;
  }

  .video__title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 25px;
  }

  .video__item {
    width: 648px;
  }

  .video__controls {
    position: relative;
    width: 648px;
    height: 93px;
    margin-top: -93px;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding-top: 67px;
    padding-bottom: 83px;
  }

  .video__top-wrapper {
    padding-bottom: 57px;
  }

  .video__title {
    margin-bottom: 26px;
  }

  .video__item {
    width: 800px;
  }

  .video__controls {
    width: 800px;
  }
}
